body {
    background-color: white;
    text-align: center;
    
}
li{
    text-align: center;
    
}
.jumbotron{
    background-color:pink;
}
.nav{
    margin-top: 10px;

}
.glyphicon{
    
    
}

@media screen and (max-width:1200px){
    body{
        background-color: lightsalmon;
        
    }
    p {
        color: darkkhaki;
    
    }
}
@media screen and (max-width:750px){
    body{
        background-color: coral;
        
    }
    p {
        color: darkcyan;
   
    }
    
}
@media screen and (max-width:500px){
    body{
        background-color: skyblue;
    
    }
    p {
        color: grey;

    }
}